body {
	padding: 0; 
    margin: 0;
    background-image: url('../Assets/b.jpg');
    background-size: 100%;
}

/* line height difference between two lines*/
/*Header---------------*/

.header {
    overflow: hidden;
    background-color: #ffffff00;
    padding: 30px;
}

.header a {
    float: none;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    border-radius:25px;
    padding: 20px;
    margin-right: 50px;

    color:  #ffffff;
    font: 75px;
    margin: 0 0 10px;
}
    .header a span{
        color:  #ff0000;
    }
    

.header img.logo {
    width: 60px;
    height: 60px;
    
}
.heading {
    margin: 80px 0 0 80px;
    font-size: 64px;
    width: max-content;
    display: flex;
    flex-direction: column;
  }
  .heading > div {
    overflow: hidden;
  }
  .heading > div > p {
    width: max-content;
    margin: 0;
    line-height: 117%;
  }
  
  .red {
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px #000000;
  }
  
  
  
 

/*Question------*/

.q{
    margin: auto;
    width: 90%;
    padding: 10px;
}

button{
    
    height: 75px;
    width: 200px;
    background-color:#ff0000b7;
    color:whitesmoke;
    border:none;
    border-radius: 20px;
    font-size:25px;
    font: 25px;
      
  }
  .v_button{
    margin-top: 25px;
    margin-left: 100px; 
  }

