/*Home page css---------------*/

/*Header---------------*/

:root {
    --darkgray: #212329;
    --brightred: #F9423D;
    --white: #FFF;
    --lightred: #F9433DCC;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
    
}
.nav-container {
    width: 100%;
    background-color: var(--darkgray);
}
.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
}
#navbar-logo {
    color: var(--white);
    justify-self: start;
    margin-left: 30px;
    cursor: pointer;
}
.nav-menu {
    display: flex;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    justify-self: right;
    text-align: center;
    width: 60%;
}
.nav-links {
    color: white;
    text-decoration: none;
    padding-right: 0px;
    margin-right: 50px;
}
.nav-links:hover {
    color: var(--brightred);
    transition: all 0.2s ease-out;
}
.nav-links-btn {
    background-color: var(--brightred);
    padding: 6px 16px;
    border-radius: 4px;
}
.nav-links-btn:hover {
    background-color: transparent;
    color: var(--white);
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid var(--brightred);
    transition: all 0.3s ease-out;
}
.menu-toggle {
    cursor: pointer;
}
.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}
@media screen and (max-width: 768px) {
    .nav-container {
        position: relative;
    }
    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: var(--brightred);
        margin: 0;
        position: absolute;
        width: 100%;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }
    #navbar-logo {
        margin-left: 20px;
    }

    .nav-menu.active {
        background-color: var(--darkgray);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }
    .nav-links:hover {
        background-color: var(--brightred);
        color: var(--white);
        transition: all 0.4s ease-out;
    }
    .navbar {
        width: 100%;
    }
    .nav-links-btn {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--darkgray);
        color: var(--white);
        transition: all 0.4s ease-out;
    }
    .nav-links-btn:hover {
        background-color: var(--brightred);
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .menu-toggle .bar{
        display: block;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*Header login button---------*/

.header-right button {
	cursor: pointer;
	position: relative;
	padding: 20px;
	border-radius: 3.75rem;
	line-height: 1.5rem;
	font-size: 1.5rem;
    font-weight: 650px;
    border: 1px solid #0496af;
	background-image: linear-gradient(-180deg, #0496af , #003859 );
	box-shadow: 0 1rem 1.25rem 0 rgba(85, 96, 124, 0.5),
							0 -0.25rem 1.5rem #020747 inset,
							0 0.75rem 0.5rem rgba(87, 92, 138, 0.329) inset,
							0 0.25rem 0.5rem 0 rgb(76, 69, 78) inset;
}

button span {
    font-size: 20px;
	color: transparent;
	background-image: linear-gradient(0deg, #f7f7f7 0%, #FEFAFD 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px rgb(0, 0, 0));
}

/*Navigation bar ------------*/

.nav {
    overflow: hidden;
    background-image:linear-gradient(to right, #003859, #006492);
    padding: 10px;
}
  
.nav a {
    float: left;
    color: rgb(250, 249, 249);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    font-family: arial;
    font-weight: bold;
    line-height: 25px;
    border-radius: 0px;
}

/*Backgroung image----------*/

.body img.bg {
    width: 100%;
    height: auto;
}


/*Description----------*/

.description h1 {
	font-size: 35px;
	text-align: center;
}
.description span {
    font-size: 37px;
	color: transparent;
	background-image: linear-gradient(0deg, #0e0b0b 0%, #060325 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px #003859);
}

.description p {
	height: 110px;
	font-family:"Times New Roman";
	font-size: 25px;
	text-align: center;
}





/* Footer---------------- */ 


.footer-distributed{
	background: rgb(23, 19, 26);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}



/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #c4c0c9;
	border: 5px;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* Responsive media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}

/* About US-------------*/

.about-head {
	height: 300px;
	background-color: #120f1d;
}

.about-head h1 {
	text-align: center;
	color:#ffffff;
}

.about-head h4 {
	text-align: center;
	color:#ffffff;
}

.about-body p.p_head {
	font-family: 'Trebuchet MS';
	font-size: 50px;
	text-align: center;
	color:#000000;
}

.about-body p.para1 {
	font-family: 'Trebuchet MS';
	text-align: center;
	font-size: 20px;
}

.about-body p span {
	font-family: 'Trebuchet MS';
	font-size: 22.5px;
	color:#010405;
}

.about-body p.para2{
	font-family: 'Trebuchet MS';
	text-align: center;
	font-size: 20px;

}


/* Image slider ------ */


/* Slider----*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}


/* Slideshow container */
.slideshow-container {
  width: 1000px;
  position: relative;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active_dot {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*Feedback slider*/

.head-container{
    font-size: 50px;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    font-family: Avantgarde;
    margin-top: 0;
    padding: 0;
}

* {box-sizing: border-box}


.slideshow-containers {
    position: relative;
    background-color: black;
    color: blanchedalmond;
}

.slide {
    padding: 80px;
    text-align: center;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  /* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: rgb(0, 0, 0);
}

/* The Feedback Dots */
.f_dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: #ffffff;
  }

