.datatable-container {
  font-family: sans-serif;
  background-color: #ffffff;
  border-radius: 3px;
  color: #000000;
  max-width: 1000px;
  min-width: 80%;
  margin: 30px 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 18px;
}


.datatable-container .datatable {
  border-collapse: collapse;
  width: 100%;
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td {
  padding: 12px 12px;
}

.datatable-container .datatable th {
  font-weight: bolder;
  text-align: left;
  border-bottom: solid 1px;
}

.datatable-container .datatable td {
  border-bottom: solid 1px;
}

td{
    font-size: 14px;
}
th{
    font-size: 16px;
}
